# Dependencies
node_modules/
.venv/
backend/instaloader_session/
backend/app/static/images

# macOS
.DS_Store
backend/app/services/__pycache__/monitor.cpython-312.pyc
backend/app/utils/__pycache__/apify_client.cpython-312.pyc
backend/app/services/__pycache__/monitor.cpython-312.pyc
backend/app/__pycache__/models.cpython-312.pyc
backend/app/__pycache__/main.cpython-312.pyc
backend/instagram_monitor.db
